<div class="container" id="contact">
    <div class="row">
        <div class="col-md-4">
            <ul>
                {{ with .Site.Params.contact.address }}
                    <li><i class="fas fa-map-marker-alt fa-fw"></i> {{ . }}</li>
                {{ end }}

                {{ define "partials/phone" }}<a href="tel:{{ . }}">{{ . }}</a>{{ end }}
                {{ with .Site.Params.contact.phones }}
                    <li>
                        <i class="fas fa-phone fa-fw"></i>
                        {{ $phones := apply . "partial" "phone" "." }}
                        {{ delimit $phones ", " }}
                    </li>
                {{ end }}

                {{ with .Site.Params.contact.email }}
                    <li><i class="fas fa-envelope fa-fw"></i> <a href="mailto:{{ . }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>

        <div class="col-md-8">
            {{ with .Site.Params.contact.gmap }}
                <iframe id="map" src="{{ . }}" loading="lazy"></iframe>
            {{ end }}
        </div>
    </div>
</div>
