{{ if default false .Site.Params.RecentPosts.Enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading">
                <h2>{{ .Site.Params.RecentPosts.Title | markdownify }}</h2>
            </div>

            <p class="lead">
                {{ .Site.Params.RecentPosts.Subtitle | markdownify }}
            </p>

            <div class="row">
                {{ $posts := .Paginate (where site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                {{ range first 3 $posts.Pages }}
                <div class="col-md-4 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <a href="{{ .Permalink }}">
                                    <div class="thumbnail_wrapper">
                                        {{ if isset .Params "banner" }}
                                            <img src="{{ .Params.banner | relURL }}" alt="">
                                        {{ else }}
                                            <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                                        {{ end }}
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="content">
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            {{ if .Params.date }}
                                {{ $createdAt := .Date.Format .Site.Params.DateFormat }}
                                {{ range $index, $month := slice "January" "February" "March" "April" "May" "June"
                                    "July" "August" "September" "October" "November" "December" }}
                                    {{ $createdAt = replace $createdAt $month (i18n $month) }}
                                {{ end }}
                                <p class="date">
                                    <i class="far fa-calendar"></i> {{ $createdAt }}
                                </p>
                            {{ end }}
                            {{ if not .Site.Params.RecentPosts.HideSummary }}
                            <p class="intro">{{ .Summary }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
